/* font import */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* mixins */
@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

/* general styles */
html,
body {
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  margin: 0px;
  background: #213455;
  color: #f34a4a;
}
